variant: fcos
version: 1.1.0

storage:
  files:
    - path: /etc/systemd/network/99-default.link
      mode: 420
      contents:
        inline: |
          [Match]
          OriginalName=*
          [Link]
          NamePolicy=mac
          MACAddressPolicy=persistent
    - path: /etc/NetworkManager/conf.d/10-dhcp-config.conf
      mode: 420
      contents:
        inline: |
          [main]
          no-auto-default=*
    - path: /usr/local/bin/capture-macs
      mode: 0755
      contents:
        source: data:text/plain;charset=utf-8;base64,${base64_capture_macs_script_content}
    - path: /usr/local/bin/create-datastore
      mode: 0755
      contents:
        source: data:text/plain;charset=utf-8;base64,${base64_create_datastore_script_content}
systemd:
  units:
    - name: capture-macs.service
      enabled: true
      contents: |
        [Unit]
        Description=Capture MAC address from kargs
        After=create-datastore.service
        Before=coreos-installer.target
        ConditionKernelCommandLine=custom-config

        [Service]
        Type=oneshot
        ExecStart=/usr/local/bin/capture-macs

        [Install]
        RequiredBy=coreos-installer.target
    - name: create-datastore.service
      enabled: true
      contents: |
        [Unit]
        Description=Create data partition if one doesn't already exist
        After=coreos-installer.service
        Before=coreos-installer.target
        ConditionKernelCommandLine=custom-config

        [Service]
        Type=oneshot
        ExecStart=/usr/local/bin/create-datastore

        [Install]
        WantedBy=coreos-installer.target
    
