apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: 00-configure-ovs-master
spec:
  config:
    ignition:
      version: 3.1.0
    systemd:
      units:
        - contents: |
            [Unit]
            Before=kubelet.service
            After=NetworkManager.service
            [Service]
            Type=oneshot
            ExecStart=/bin/sh /var/init-interfaces.sh
            [Install]
            WantedBy=multi-user.target
          name: setup-ovs.service
          enabled: true
    storage:
      files:
        - contents:
            source: data:text/plain;charset=utf-8;base64,${base64_script_content}
          filesystem: root
          mode: 484
          path: /var/init-interfaces.sh
        - contents:
            compression: ""
            source: data:,%5BMatch%5D%0ADriver%3Dopenvswitch%0A%5BLink%5D%0AMACAddressPolicy%3Dnone%0A
          mode: 420
          overwrite: true
          path: /etc/systemd/network/50-ovs-mac-policy-none.link
