apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: 00-configure-ovs-worker
spec:
  config:
    ignition:
      version: 3.1.0
    systemd:
      units:
        - contents: |
            [Unit]
            After=NetworkManager.service openvswitch.service
            [Service]
            Type=oneshot
            ExecStart=/bin/sh /var/setup-ovs.sh
            [Install]
            WantedBy=multi-user.target
          name: setup-ovs.service
          enabled: true
    storage:
      files:
        - contents:
            source: data:text/plain;charset=utf-8;base64,${base64_script_content}
          filesystem: root
          mode: 484
          path: /var/setup-ovs.sh
