apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: 00-configure-ovs-master
spec:
  config:
    ignition:
      version: 3.1.0
    systemd:
      units:
        - contents: |
            [Unit]
            Before=ovs-configuration.service
            After=NetworkManager-wait-online.service
            [Service]
            Type=oneshot
            ExecStart=/bin/sh /var/init-interfaces.sh create_bondcnv
            [Install]
            WantedBy=multi-user.target
          name: create-bondcnv.service
          enabled: true
        - contents: |
            [Unit]
            After=ovs-configuration.service
            [Service]
            Type=oneshot
            ExecStart=/bin/sh /var/init-interfaces.sh create_cnvnet
            [Install]
            WantedBy=multi-user.target
          name: create-cnvnet.service
          enabled: true
    storage:
      files:
        - contents:
            source: data:text/plain;charset=utf-8;base64,${base64_script_content}
          filesystem: root
          mode: 484
          path: /var/init-interfaces.sh
